body {
  background-color: #FFF;
}

main {
  background-image: url("data:image/svg+xml,%3Csvg width='1360' height='780' viewBox='0 0 1360 780' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M-0.5 625V0.5L1360 -1.5V141.5C1344.17 153 1291.7 180.6 1208.5 199C1104.5 222 721 511 500 625C323.2 716.2 92.6667 663 -0.5 625Z' fill='%23611EB8'/%3E%3C/svg%3E%0A"); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 680px;
}

main .row {
  max-width: 1440px;
  padding: 0px 70px;
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

main .first-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 470px;
  color: var(--white);
}

main .first-column h1 {
  margin-bottom: 20px;
}

main .first-column p {
  font-size: 1rem;
  line-height: 32px;
  margin-bottom: 40px;
}

main .button {
  max-width: 220px;
  max-height: 50px;
  background-color: var(--green);
}

main .last-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding-top: 120px;
}

main .last-column img{
  width: 100%;
  max-width: 620px;
}

@media (min-width: 1440px) {
  main {
    background-image: url("data:image/svg+xml,%3Csvg width='1360' height='376' viewBox='0 0 1360 376' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 347.878V-0.883072L1360 -2V77.8604C1344.17 84.2827 1291.73 99.6963 1208.56 109.972C1104.59 122.817 721.235 284.213 500.316 347.878C323.581 398.81 93.1324 369.099 0 347.878Z' fill='%23611EB8'/%3E%3C/svg%3E%0A");
    height: 720px;
  }
}

@media (max-width: 1200px) {
  main .row {
    padding: 0px 40px;
  }
}

@media (max-width: 1080px) {
  main .last-column img{
    width: 100%;
    max-width: 520px;
  }
}

@media (max-width: 960px) {
  main .row {
    flex-direction: column;
    align-items: center;
  }

  main .first-column {
    margin-top: 160px;
  }

  main .last-column {
    padding-top: 80px;
  }
}

@media (max-width: 720px) {
  main .last-column img{
    width: 100%;
    max-width: 440px;
  }
}

@media (max-width: 520px) {
  main .row {
    padding: 0px 30px;
  }

  main .button {
    align-self: center;
  }
}

/* PRE-SERVICES SECTION */

#intro-services {
  margin-top: 80px;
  color: var(--dark);
}

#intro-services .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1440px;
  margin: 0px auto;
}

#intro-services .row .first-column {
  margin-top: 220px;
  display: flex;
  flex-direction: column;
  max-width: 420px;
  padding-left: 70px;
}

#intro-services .row .last-column {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 882px;
  background-image: url("../../assets/home-cards-background.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  padding-left: 70px;
}

#intro-services .service-card {
  margin: 40px;
}

#intro-services .row .first-column h1 {
  font-size: 2rem;
  margin-bottom: 40px;
  line-height: 46px;
}

#intro-services .row .first-column p {
  font-family: "Open Sans";
  font-size: 1rem;
  margin-bottom: 40px;
  line-height: 32px;
}

#intro-services .button {
  border-radius: 10px;
  max-width: 140px;
  background-color: var(--purple);
}

#intro-services .button {
  border-radius: 10px;
  max-width: 140px;
  background-color: var(--purple);
}

@media(max-width: 1080px) {

  #intro-services .row {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  #intro-services .row .first-column {
    margin-top: 0px;
    padding-left: 0px;
    max-width: 520px;
  }

  #intro-services .row .last-column {
    margin-top: 60px;
    padding-left: 0px;
  }
}

@media(max-width: 660px) {
  #intro-services .service-card {
    margin: 40px 20px;
  }

  #intro-services {
    padding: 0px 30px;
  }

  #intro-services .row .last-column {
    background-repeat: space;
  }
}

/* INTRO-ABOUT SECTION */

#intro-about {
  background-image: url("../../assets/home-preabout-background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 750px;
  color: var(--white);
}

#intro-about .row {
  padding: 0px 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 740px;
  max-width: 1440px;
  margin: 0px auto;
}

#intro-about .row .first-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 470px;
}

#intro-about h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

#intro-about p {
  font-size: 1rem;
  margin-bottom: 40px;
  line-height: 32px;
}

#intro-about .button {
  background-color: var(--light-green);
  max-width: 140px;
  max-height: 50px;
  border-radius: 10px;
  padding: 14px 25px;
}

#intro-about .row .last-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
  margin-left: 60px;
}

#intro-about img {
  max-width: 100%;
}

@media (min-width: 1500px) {
  #intro-about {
    margin-top: 80px;
  }
}

@media (max-width: 1080px) {
  #intro-about {
    background-repeat: repeat-y;
  }

  #intro-about .row {
    flex-direction: column;
    padding: 0px 30px;
    justify-content: center;
    align-items: center;
  }

  #intro-about .row .first-column {
    margin-top: 160px;
    max-width: none;
    max-width: 80%;
  }

  #intro-about .row .last-column {
    margin-top: 80px;
    margin-bottom: 160px;
    margin-left: 0px;
  }
}

@media (max-width: 720px) {
  #intro-about .row .first-column {
    max-width: 100%;
  }
}

#testimonials {
  background: url("../../assets/home-testimonial-background.png");
  background-position: center;
  background-repeat: repeat-y;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 160px;
  padding-bottom: 160px;
}

#testimonials h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 120px;
}

#testimonials .cards-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.cards-container .testimonial-card {
  margin: 0 55px;
}

@media (max-width: 1080px) {
  .cards-container .testimonial-card  {
    margin: 0 30px;
  }
}