#contact {
  min-height: 100vh;
  width: 100%;
}

#contact .back-link {
  position: absolute;
  margin: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: .3s;
}

#contact .back-link:hover {
  filter: brightness(1.3);
}

#contact .back-link a {
  text-decoration: underline;
  color: var(--link);
  font-size: 1rem;
  font-weight: bold;
  font-family: "Open Sans";
  margin-left: 4px;
}

#contact .back-link span {
  font-weight: bold;
  color: var(--link);
}

#contact .row {
  max-width: 1360px;
  height: 100vh;
  padding: 0 70px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#contact .row .first-column {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 520px;
}

#contact .row .first-column img {
  width: 100%;
}

#contact .row .first-column .buttons-row {
  width: 100%;
  margin-top: 32px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#contact .row .first-column .button {
  margin: 0 16px;
  cursor: pointer;
  width: 180px;
  height: 48px;
  border-radius: 10px;
  font-size: 1rem;
  border: none;
  box-shadow: 2px 4px 6px rgba(0,0,0, .35);
  filter: brightness(1.0);
}

#contact .row .first-column .button:hover {
  box-shadow: none;
  filter: brightness(1.1);
} 

#contact .row .first-column .button.active {
  box-shadow: none;
  filter: brightness(0.9);
}

#contact .row .first-column .button:hover {
  filter: brightness(1.2);
} 

#contact .row .first-column .button.active:hover {
  filter: brightness(.9);
} 

#contact .row .first-column .button:first-child {
  background-color: var(--green);
}

#contact .row .first-column .button:last-child {
  background-color: var(--blue);
}

#contact .row .last-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 1;
}

/* FORM CLASS */
#contact .last-column {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#contact .last-column .container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contact .last-column h2 {
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  color: var(--dark);
  margin-bottom: 10px;
  text-align: center;
}

#contact .last-column p {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  line-height: 24px;
  color: var(--dark);
  margin-bottom: 20px;
  text-align: center;
}

#contact .last-column form {
  display: flex;
  flex-direction: column;
  max-width: 470px;
  width: 100%;
}

#contact .last-column form .field-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#contact .last-column form .field-row .field {
  margin: 14px 14px;
}

#contact .last-column form .field-row .field:first-child {
  margin-left: 0px;
}

#contact .last-column form .field-row .field:last-child {
  margin-right: 0px;
}

#contact .last-column form .field {
  display: flex;
  flex-direction: column;
  margin: 12px 0px;
  width: 100%;
}

#contact .last-column form .field label {
  font-family: "Roboto", sans-serif;
  font-size: 0.88rem;
  color: var(--dark);
}

#contact .last-column form .field input {
  -webkit-appearance: none;
  font-family: "Roboto", sans-serif;
  font-size: 0.88rem;
  color: var(--grey);
  height: 32px;
  width: 100%;
  border: none;
  border-bottom: 1px var(--dark) solid;
}

#contact .last-column form .field input:-webkit-autofill {
  background-color: none !important;
  color: var(--dark) !important;
}

#contact .last-column form .field input:focus {
  outline: -webkit-focus-ring-color auto 0px;
}

#contact .last-column form textarea {
  margin-top: 10px;
  -webkit-appearance: none;
  font-family: "Roboto", sans-serif;
  font-size: 0.88rem;
  color: var(--grey);
  padding: 5px;
  min-height: 80px;
  border-radius: 5px;
  border: solid 1px var(--dark);
}

#contact .last-column form select {
  margin-top: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 0.88rem;
  color: var(--grey);
  padding: 5px;
  border-radius: 5px;
  border: solid 1px var(--dark);
  background-color: #FFF;
}

#contact .last-column .button {
  border: 2px solid var(--light-green);
  color: var(--light-green);
  font-weight: 500;
  background-color: rgba(0,0,0,0);
  border-radius: 10px;
  width: 140px;
  height: 46px;
  margin: 16px 0px;
  cursor: pointer;
  box-shadow: none;
}

#contact .last-column .button:hover {
  background: var(--light-green);
  color: #FFF;
}

.hidden {
  display: none !important;
}

@media (max-width: 1200px) {
  #contact .row {
    flex-direction: column;
    padding: 0 30px;
  }

  #contact .row .first-column {
    align-items: center;
    align-self: center;
    margin: 100px 0px;
  }

  #contact .row .last-column {
    margin-bottom: 60px;
  }
}

@media (max-width: 480px) {
  #contact .row {
    flex-direction: column;
    padding: 0 16px;
  }

  #contact .row .first-column .buttons-row {
    width: 100%;
    margin-top: 32px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  #contact .row .first-column .button {
    margin: 0 10px;
    width: 140px;
    height: 44px;
    font-size: 0.88rem;
  }

  #contact .last-column form textarea {
    min-height: 120px;
  }

  #contact .row .first-column {
    margin-bottom: 40px;
  }
}