:root {
  --purple: #611eb8;
  --light-purple: #9878c4;
  --green: #32e25e;
  --light-green: #5dd5d6;
  --blue: #39a5f2;
  --dark: #2b3c54;
  --white: #f0f2f4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--white);
  -webkit-font-smoothing: antialiased;
  color: var(--dark);
}

body,
input,
button {
  font-family: Roboto, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

p {
  font-family: "Open Sans", sans-serif;
}
