:root {
  --purple: #611EB8;
  --light-purple: #9878C4;
  --green: #32E25E;
  --light-green: #5DD5D6;
  --blue: #39A5F2;
  --dark: #2B3C54;
  --white: #F0F2F4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--white);
  -webkit-font-smoothing: antialiased;
  color: var(--dark);
}

body,
input,
button {
  font-family: Roboto, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
}

p {
  font-family: 'Open Sans', sans-serif;
}